<link rel="stylesheet" href="~/css/auth/register.css" asp-append-version="true">

<div class="screen-container">
    <div class="register-container">
        <h1>Create Account</h1>
        <form id="register-form" action="">
            <div class="user-input-continer">
                <div class="info-container">
                    <label for="username">Username (Display Name)</label><br>
                    <input type="text" placeholder="Enter Username" required>
                    
                    <label for="fname">First Name</label><br>
                    <input type="text" placeholder="Enter First Name" required>

                    <label for="lname">Last Name</label><br>
                    <input type="text" placeholder="Enter Last Name" required>
                    
                    <label for="birthdate">Birthdate</label><span class="error-message" id="bdate-error-message"> -x- Please enter a valid birthdate.</span><br>
                    <input type="date" id="birth-date" name="birthdate" required>
                    <br>
                    
                    <label for="gender">Gender</label><br>
                    <select id="gender" name="gender" onchange="changeColor()" required>
                        <option value="">-- Select --</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <label for="password">Password</label><br>
                    <input id="passwd" type="password" placeholder="Enter a password" required>
                    
                    <label for="con-password">Confirm Password</label><br>
                    <input id="conf-passwd" type="password" placeholder="Confirm your password" required>
                    <span class="error-message" id="confpasswd-error-message"> -x- Confirm password not match</span>
                </div>
                <div class="select-container">
                    <h2><i class="fa-solid fa-tag"></i> Select Your Interests</h2>
                    <section class="sport-and-fitness">
                        <h3>Sports & Fitness</h3>
                        <div class="select-group">
                            <label class="checkbox-label">
                                <input type="checkbox" name="choice" value="Football" />
                                <span>Football</span>
                            </label>
                            <label class="checkbox-label">
                                <input type="checkbox" name="choice" value="Basketball" />
                                <span>Basketball</span>
                            </label>
                            <label class="checkbox-label">
                                <input type="checkbox" name="choice" value="Badminton" />
                                <span>Badminton</span>
                            </label>
                            <label class="checkbox-label">
                                <input type="checkbox" name="choice" value="Table tennis" />
                                <span>Table tennis</span>
                            </label>
                            <label class="checkbox-label">
                                <input type="checkbox" name="choice" value="Running" />
                                <span>Running</span>
                            </label>
                            <label class="checkbox-label">
                                <input type="checkbox" name="choice" value="Swimming" />
                                <span>Swimming</span>
                            </label>
                            <label class="checkbox-label">
                                <input type="checkbox" name="choice" value="Cardio" />
                                <span>Cardio</span>
                            </label>
                            <label class="checkbox-label">
                                <input type="checkbox" name="choice" value="Weight training" />
                                <span>Weight training</span>
                            </label>
                        </div>
                    </section>
                    <section class="sport-and-fitness">
                        <h3>Arts & Culture</h3>
                        <div class="select-group">
                            <label class="checkbox-label">
                                <input type="checkbox" name="choice" value="Sing" />
                                <span>Sing</span>
                            </label>
                            <label class="checkbox-label">
                                <input type="checkbox" name="choice" value="Dance" />
                                <span>Dance</span>
                            </label>
                            <label class="checkbox-label">
                                <input type="checkbox" name="choice" value="Painting" />
                                <span>Painting</span>
                            </label>
                        </div>
                    </section>
                    <section class="sport-and-fitness">
                        <h3>Social</h3>
                        <div class="select-group">
                            <label class="checkbox-label">
                                <input type="checkbox" name="choice" value="Food-Dining" />
                                <span>Gaming</span>
                            </label>
                            <label class="checkbox-label">
                                <input type="checkbox" name="choice" value="Board-Games" />
                                <span>Board Games</span>
                            </label>
                            <label class="checkbox-label">
                                <input type="checkbox" name="choice" value="Gaming" />
                                <span>Food & Dining</span>
                            </label>
                            <label class="checkbox-label">
                                <input type="checkbox" name="choice" value="Travel" />
                                <span>Travel</span>
                            </label>
                        </div>
                    </section>
                    <section class="sport-and-fitness">
                        <h3>Education</h3>
                        <div class="select-group">
                            <label class="checkbox-label">
                                <input type="checkbox" name="choice" value="Tutoring" />
                                <span>Tutoring</span>
                            </label>
                            <label class="checkbox-label">
                                <input type="checkbox" name="choice" value="Lab" />
                                <span>Lab</span>
                            </label>
                            <label class="checkbox-label">
                                <input type="checkbox" name="choice" value="Hackathon" />
                                <span>Hackathon</span>
                            </label>
                        </div>
                    </section>
                </div>
            </div>
            <button type="submit">Create Account</button>
            <p>Already have an account ? <a href="">Sign in</a></p>
        </form>
    </div>
</div>
<script src="~/js/auth/register.js" asp-append-version="true"></script>