@{
    ViewData["Title"] = "Login";
}

@model LoginViewModel

<link rel="stylesheet" href="~/css/account/login.css" asp-append-version="true">
<div class="screen-container">
    <div class="box">
        <span></span>
    <div class="login-container">
        <h1>Welcome</h1>
        <form method="post" asp-action="Login">
            <div class="input-container">
                <label asp-for="UserName">Username</label><br>
                <input type="text" asp-for="UserName" placeholder="Enter Username" required>
            </div>
            <div class="input-container">
                <label asp-for="Password">Password</label><br>
                <input type="password" asp-for="Password" placeholder="Enter Password" required>
            </div>
            <button type="submit">Login</button>
            <p>Don’t have an account ? <a asp-action="Register" asp-controller="Account">Register now</a></p>
        </form>
    </div>
    </div>
</div>