@{
    ViewData["Title"] = "John Doe's Profile";
}

<link rel="stylesheet" href="~/css/profile/person.css" asp-asp-append-version="true">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+Thai">

<div>
    <nav>
        <div class="logo">
            <i class="fa-brands fa-facebook fa-4x"></i>
            <span>EventListener</span>
        </div>
        <div class="buttongroup-and-user">
            <button>
                <i class="fa-solid fa-plus"></i> 
                <span>สร้างกิจกรรม</span>
            </button>
            <button>
                <i class="fa-regular fa-bell"></i>
                <span>การเเจ้งเตือน</span>
            </button>
            <i class="fa-solid fa-circle-user fa-3x"></i>
        </div>
    </nav>
    <body>
        <div class="profile-main-div">
            <div class="profile-div">
                <div class="profile-div-left">
                    <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="me_profile_picture" >
                    <div class="sex-rect"></div>
                    <p>ความสนใจ</p>
                    <ul class="interest-ul">
                        <li>😆 hello</li>
                        <li>helloefeofeijfiejif</li>
                        <li>😍 hello</li>
                        <li>🌙 hello</li>
                        <li>🎵 hello</li>
                        <li>🐱 hello</li>
                        <li>hello</li>
                        <li>hello</li>
                        <li>👍 hello</li>
                        <li>hello</li>
                        <li>hello</li>
                        <li>+</li>
                    </ul>
                </div>
                <div class="profile-div-right">
                    <div class="name_status-div">
                        <p>John Doe,24</p>
                        <div class="status-circle"></div>
                    </div>
                    <div class="id_birthday-div">
                        <p>@@JohnInwZa007</p>
                        <i class="far fa-calendar-minus"></i>
                        <p>19 September 1996</p>
                    </div>
                    <p>เกี่ยวกับฉัน</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                        <br>eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                        <br>enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        <br>nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                        <br>reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        <br>pariatur. Excepteur sint occaecat cupidatat non proident.

                    </p>
                </div>
            </div>
        </div>
    </body>
</div>



