nav {
    background-color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 0.25px solid black; 
    padding: 16px;
}

.logo {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 16px;

    span {
        font-size: 24px;
        font-weight: bold;
    }
}

.buttongroup-and-user {
    display: flex; 
    align-items: center; 
    gap: 16px;

    button:nth-child(1) {
        padding: 8px 18px; 
        font-size: 16px;
        border-radius: 12px;
        border: 1px solid #E232BC;
        background-color: #E232BC;
        color: white;

        span {
            margin-left: 5px;
        }
    }

    button:nth-child(1) :hover {
        cursor: pointer;
    }

    button:nth-child(2) {
        padding: 8px 18px; 
        font-size: 16px;
        border-radius: 12px;
        border: 1px solid #FF713E;
        background-color: #FF713E;
        color: white;

        span {
            margin-left: 5px;
        }
    }

    button:nth-child(2) :hover {
        cursor: pointer;
    }

}

.profile-main-div{
    padding: 50px 100px 50px 100px;
}

.profile-div{
    display:grid;
    grid-template-columns: max-content max-content;
    gap:4.32vw;
    padding-bottom:50px;
}

.profile-img_rect-div{
    height: min-content;
}

.profile-interest-div{
    p:nth-child(1){
        font-family: Noto Sans Thai;
        font-weight: bold;
        letter-spacing: 1px;
        font-size:clamp(16px,1.15vw);
        padding:0px 0px 15px 0px;
    }
}

.profile-img-div{
    display:flex;
    padding: 0;

    img{
        border-radius: 25px;
        width:28.8vw;
        height:28.8vw;
        max-width: 400px;
        max-height: 350px;
        object-fit: fill;
    }
}

.profile-detail-div{
    font-family: Inter;
    p:nth-child(1){
        font-weight:bolder;
        /* 1.15 vw = 15.96 px (width=1388px,height=838px) */
        font-size: clamp(30px,2.44vw,34px);
    }

    p:nth-child(3){
        font-family: Noto Sans Thai;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 25px 0px 15px 0px;/*top right bottom left*/ 
        font-size: clamp(16px,1.15vw);
    }

    p:nth-child(4){
        letter-spacing: 0.018vw;
        line-height: 1.1;/*1.3vw */
        width:42.8vw;
        margin:0;
        font-size: clamp(16px,1.15vw);
    }
}



.name_status-div{
    display:grid;
    grid-template-columns: max-content max-content;
    gap:0.86vw;
}

.status-circle{
    margin: auto;
    width: 50%;
    width:20px;
    height:20px;
    background-color: #3EB5FF;
    border-radius: 20px;
}

.id_birthday-div{
    display: grid;
    grid-template-columns:max-content min-content max-content;
    gap:0.72vw; 
    padding: 0;

    p:nth-child(n){
        font-weight: normal;
        color:darkgray;
        font-size: clamp(12px,1vw,14px);
        padding:10px 0px 0px 0px;
        letter-spacing: 0.25px;
    }

    i{
        color:darkgray;
        font-size: clamp(12px,1vw,14px);
        padding-top: 10px; 
    }
}

.sex-rect{
    width:28.8vw;
    max-width: 400px;
    height:40px;
    background-color:#3EB5FF;
    border-radius: 20px;
    margin: 20px 0px 0px 0px;
}

.interest-ul{
    display:flex;
    flex-wrap: wrap;
    max-width: 400px;
    width:28.8vw;
    gap: 0.72vw;

    li:nth-child(n){
        background-color: lightgray;
        width:fit-content;
        font-size: clamp(16px,1.15vw);
        border-radius: 10px;
        padding:5px 8px 5px 8px;
    }

    li:nth-child(n):hover{
        cursor: pointer;
        background-color: gray;
        transition: 0.25s;
    }
}

@media (width:820px) { /*ipad Air*/
    .profile-main-div{
        display: flex;
        flex-direction: column;
    }
    .profile-div{
        display: flex;
        flex-direction: column;
    }

    .profile-img_rect-div{
        display: flex;
        flex-direction: column;
    }

    .profile-img-div{
        width: 400px;
        height: 350px;
        align-self: center;

        img{
            width:400px;
            height:350px;
        }
    }

    .sex-rect{
        width: 100%;
        align-self: center;
        margin: 20px 0px 0px 0px;
    }

    .profile-detail-div{
        display: flex;
        flex-direction: column;
        align-self: center;

        p:nth-child(n){
            align-self: center;
        }

        p:nth-child(4){
            width:410px;
        }

        div:first-child{
            align-self: center;
        }
    }

    .name_status-div{
        display: flex;
        width:fit-content;
    }

    .status-circle{
        margin: 4px 0px;
    }

    .id_birthday-div{
        align-self: center;
    }

    .profile-interest-div{
        display: flex;
        flex-direction: column;
        width:400px;
        align-self: center;

        p:first-child{
            align-self: center;
        }
    }

    .interest-ul{
        width: 400px;
    }

    .edit-btn{
        align-self: center;
        width: 450px;
    }
}



