@{
    ViewData["Title"] = "Activity Details";
}

<link rel="stylesheet" href="~/css/activity/activity_details.css" asp-append-version="true">

<div>
    <nav>
        <div class="logo">
            <i class="fa-brands fa-facebook fa-4x"></i>
            <span>EventListener</span>
        </div>
        <div class="buttongroup-and-user">
            <button>
                <i class="fa-solid fa-plus"></i>
                สร้างกิจกรรม
            </button>
            <button>
                <i class="fa-regular fa-bell"></i>
                การเเจ้งเตือน
            </button>
            <img src="https://imgcdn.stablediffusionweb.com/2024/2/24/31aad3d9-a853-4296-88d7-58b3104a0527.jpg" alt="">
        </div>
    </nav>

    <main>
        <div class="activity-img">
            <img src="https://globaluniversity.edu/wp-content/uploads/2020/03/multiethnic-group-young-people-studying-together.jpg"
                alt="">
        </div>
        <div class="content">
            <div class="activity-details">
                <div class="group-tag-topic">
                    <span class="tag-topic">Tag Topic</span>
                    <span class="tag-topic">Tag Topic</span>
                </div>
                <h4 class="start-datetime">
                    เสาร์, 1 กุมภาพันธ์ 2025, 17:00 น.
                </h4>
                <br>
                <h3 class="topic">
                    ติวสอบ Final วิชา Web Application Development
                </h3>
                <br>
                <h4 class="location">
                    <i class="fa-solid fa-location-dot fa-lg" style="color: #ff0000;"></i>
                    King Mongkut’s Institute of Technology
                </h4>
                <br>
                <p class="detail">
                    รายละเอียด : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet
                    lorem vel lectus egestas, a eleifend risus bibendum
                </p>
                <br>
                <button>
                    <i class="fa-solid fa-right-to-bracket fa-lg"></i>
                    <span>เข้าร่วม</span>
                </button>
            </div>
            <div class="owner">
                <h3>เจ้าของ</h3>
                <img src="https://i.pinimg.com/564x/69/2b/76/692b76e52092469fd10487cd0f4c62e6.jpg" alt="">
                <h4>Jack</h4>
            </div>
        </div>
        <div class="participant-container">
            <h2>8 ผู้เข้าร่วม</h2>
            <div class="all-participant">
                <div class="participant">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlw3sKpafl78LFg_NjOxVX7ui2VVUbSDkaCQ&s" alt="">
                    <h4>Jack</h4>
                </div>
                <div class="participant">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlw3sKpafl78LFg_NjOxVX7ui2VVUbSDkaCQ&s" alt="">
                    <h4>Jack</h4>
                </div>
                <div class="participant">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlw3sKpafl78LFg_NjOxVX7ui2VVUbSDkaCQ&s" alt="">
                    <h4>Jack</h4>
                </div>
                <div class="participant">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlw3sKpafl78LFg_NjOxVX7ui2VVUbSDkaCQ&s" alt="">
                    <h4>Jack</h4>
                </div>
                <div class="participant">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlw3sKpafl78LFg_NjOxVX7ui2VVUbSDkaCQ&s" alt="">
                    <h4>Jack</h4>
                </div>
                <div class="participant">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlw3sKpafl78LFg_NjOxVX7ui2VVUbSDkaCQ&s" alt="">
                    <h4>Jack</h4>
                </div>
                <div class="participant">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlw3sKpafl78LFg_NjOxVX7ui2VVUbSDkaCQ&s" alt="">
                    <h4>Jack</h4>
                </div>
                <div class="participant">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlw3sKpafl78LFg_NjOxVX7ui2VVUbSDkaCQ&s" alt="">
                    <h4>Jack</h4>
                </div>
            </div>
        </div>
    </main>
</div>
