@{
    ViewData["Title"] = "Activity Details";
}

<div style="box-sizing: border-box; margin: 0; padding: 0;">
    <div style="display: flex; justify-content: space-between; border-bottom: 0.5px solid black; height: 100px; ">
        <div>
            <i class="fa-brands fa-facebook"></i>
            <span>Facebook</span>
        </div>
        <div>
            <button><i class="fa-solid fa-plus" style="margin-right: 8px;"></i>สร้างกิจกรรม</button>
            <button><i class="fa-regular fa-bell" style="margin-right: 8px;"></i>การเเจ้งเตือน</button>
            <i class="fa-solid fa-circle-user"></i>
        </div>
    </div>
</div>