@{
    ViewData["Title"] = "Activity Details";
}

<link rel="stylesheet" href="~/css/activity/activity_details.css" asp-append-version="true">

<div>
    <nav>
        <div class="logo">
            <i class="fa-brands fa-facebook fa-4x"></i>
            <span>EventListener</span>
        </div>
        <div class="buttongroup-and-user">
            <button>
                <i class="fa-solid fa-plus"></i> 
                <span>สร้างกิจกรรม</span>
            </button>
            <button>
                <i class="fa-regular fa-bell"></i>
                <span>การเเจ้งเตือน</span>
            </button>
            <i class="fa-solid fa-circle-user fa-3x"></i>
        </div>
    </nav>
</div>

