@{
    ViewData["Title"] = "Activity Details";
}

<link rel="stylesheet" href="~/css/activity/activity_details.css" asp-append-version="true">

<div>
    <nav>
        <div class="logo">
            <i class="fa-brands fa-facebook fa-4x"></i>
            <span>EventListener</span>
        </div>
        <div class="buttongroup-and-user">
            <button>
                <i class="fa-solid fa-plus"></i> 
                สร้างกิจกรรม
            </button>
            <button>
                <i class="fa-regular fa-bell"></i>
                การเเจ้งเตือน
            </button>
            <i class="fa-solid fa-circle-user fa-3x"></i>
        </div>
    </nav>

    <main>
        <div class="activity-img">
            <img src="https://png.pngtree.com/background/20230527/original/pngtree-an-old-bookcase-in-a-library-picture-image_2760144.jpg" alt="">
        </div>
        <div class="content">
            <div class="activity-details">
                <div class="tag-topic">
                    tag-topic Topic
                </div>
                <h4 class="start-datetime">
                    เสาร์, 1 กุมภาพันธ์ 2025,activity 17:00 น.
                </h4>
                <h3 class="topic">
                    ติวสอบ Final วิชา Web Application Development
                </h3>
                <h4 class="location">
                    King Mongkut’s Institute of Technology Ladkrabang
                </h4>
                <p class="detail">
                    รายละเอียด : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet 
lorem vel lectus egestas, a eleifend risus bibendum
                </p>
                <button>เข้าร่วม</button>

                abc
            </div>
            <div class="owner">

            </div>
        </div>
        <div class="participant">

        </div>
    </main>
</div>

