<link rel="stylesheet" href="~/css/noti/noti.css" asp-append-version="true">


     <div class="container">
        <nav>
        <div class="logo">
            <i class="fa-brands fa-facebook fa-4x"></i>
            <span>EventListener</span>
        </div>
        <div class="buttongroup-and-user">
            <button>
                <i class="fa-solid fa-plus"></i> 
                <span>สร้างกิจกรรม</span>
            </button>
            <button>
                <i class="fa-regular fa-bell"></i>
                <span>การเเจ้งเตือน</span>
            </button>
            <i class="fa-solid fa-circle-user fa-3x"></i>
        </div>
    </nav>
        <h2>การแจ้งเตือนทั้งหมด</h2>

        <div class="notification">
            <span class="icon">🔔</span>
            <div class="content">
                <strong>หาเพื่อนเข้ายิมที่สจลครับ</strong>
                <p>กิจกรรมจะเริ่มในวันพุธที่ 16 ม.ค. 2025, 17:00 น.</p>
            </div>
            <span class="time">ผ่านมาแล้ว 1 นาที</span>
            <button class="delete">🗑️</button>
        </div>

        <div class="notification">
            <span class="icon">🔔</span>
            <div class="content">
                <strong>ติวสอบ Final วิชา Web Application Development</strong>
                <p>กิจกรรมจะเริ่มในวันพุธที่ 16 ม.ค. 2025, 17:00 น.</p>
            </div>
            <span class="time">ผ่านมาแล้ว 15 นาที</span>
            <button class="delete">🗑️</button>
        </div>

        <div class="notification">
            <span class="icon">🔔</span>
            <div class="content">
                <strong>หาเพื่อนไปหอศิลป์ครับ</strong>
                <p>กิจกรรมจะเริ่มในวันพุธที่ 16 ม.ค. 2025, 17:00 น.</p>
            </div>
            <span class="time">ผ่านมาแล้ว 30 นาที</span>
            <button class="delete">🗑️</button>
        </div>
    </div>
