<link rel="stylesheet" href="~/css/noti/not.css" asp-append-version="true">
<div class="container">
    <nav>
        <div class="logo">
            <i class="fa-brands fa-facebook fa-4x"></i>
            <span>EventListener</span>
        </div>
        <div class="buttongroup-and-user">
            <button>
                <i class="fa-solid fa-plus"></i> 
                <span>สร้างกิจกรรม</span>
            </button>
            <button>
                <i class="fa-regular fa-bell"></i>
                <span>การเเจ้งเตือน</span>
            </button>
            <i class="fa-solid fa-circle-user fa-3x"></i>
        </div>
    </nav>
<div class="notification-container">
    <div class="bell-icon">
        <img src="https://cdn-icons-png.flaticon.com/512/1827/1827349.png" alt="Notification Bell">
    </div>
    <p class="no-notifications">ไม่มีการแจ้งเตือน</p>
    <p class="notification-text">การแจ้งเตือนใหม่จะปรากฏที่นี่</p>
</div>