<link rel="stylesheet" href="~/css/home/home.css" asp-append-version="true">
<div>
    <nav>
        <div class="left-container">
            <div class="search-bar">
                <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
                <input type="text" name="search" id="">
            </div>
            <div class="filter-container">
                <div class="date-input">
                    <i class="fa-regular fa-calendar"></i><button>1 jan 2025 - 5 jan 2025</button>
                </div>
                <div class="filter"><i class="fa-solid fa-sliders"></i><button> all</button></div>
            </div>
        </div>
        <div class="buttongroup-and-user">
            @if (User.Identity != null && User.Identity.IsAuthenticated) {
                <button class="create-activity">
                    <i class="fa-solid fa-plus"></i>
                    สร้างกิจกรรม
                </button>
                <button class="notification">
                    <i class="fa-regular fa-bell"></i>
                    การเเจ้งเตือน
                </button>
                <div class="dropdown">
                    <button class="user-avatar-btn" onclick="drop()"><img src="~/user.png" alt="avatar-img" class="avatar-img"></button>
                    <div id="myDropdown" class="dropdown-content">
                        <a asp-controller="profile" asp-action="me">โปรไฟล์</a>
                        <a asp-controller="account" asp-action="logout">ออกจากระบบ</a>
                    </div>
                </div>
            } else {
                <a asp-controller="account" asp-action="login"><button class="un-auth-btn login"><div>Login</div></button></a>
                <a asp-controller="account" asp-action="register"><button class="un-auth-btn register"><div>Register</div></button></a>
            }
        </div>
    </nav>
    <div class="activity-card-container">
        <div class="activity-card">
            <div class="header-tag-card">Sport & Fitness</div>
            <div class="body-card">
                <div class="tag-line">
                    <span class="tag">Weight trainning</span>
                </div>
                <div class="time-info">
                    <span>วันจันทร์, 13 ม.ค. 2025, 17.00</span><span>จะเริ่มวันพรุ่งนี้</span>
                </div>
                <div class="card-info">
                    <div class="info">
                        <article>activity-card Topic</article>
                        <span class="location">King Mongkut’s institude of tecnology Ladkrabang</span>
                        <div class="user-avatar"><i class="fa-regular fa-user"></i><i class="fa-regular fa-user"></i><i class="fa-regular fa-user"></i></div>
                        <span class="participant-info">6/7 คนจะไป</span>
                    </div>
                    <img src="https://globaluniversity.edu/wp-content/uploads/2020/03/multiethnic-group-young-people-studying-together.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="activity-card">
            <div class="header-tag-card">Sport & Fitness</div>
            <div class="body-card">
                <div class="tag-line">
                    <span class="tag">Weight trainning</span>
                </div>
                <div class="time-info">
                    <span>วันจันทร์, 13 ม.ค. 2025, 17.00</span><span>จะเริ่มวันพรุ่งนี้</span>
                </div>
                <div class="card-info">
                    <div class="info">
                        <article>activity-card Topic</article>
                        <span class="location">King Mongkut’s institude of tecnology Ladkrabang</span>
                        <div class="user-avatar"><i class="fa-regular fa-user"></i><i class="fa-regular fa-user"></i><i class="fa-regular fa-user"></i></div>
                        <span class="participant-info">6/7 คนจะไป</span>
                    </div>
                    <img src="https://globaluniversity.edu/wp-content/uploads/2020/03/multiethnic-group-young-people-studying-together.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="activity-card">
            <div class="header-tag-card">Sport & Fitness</div>
            <div class="body-card">
                <div class="tag-line">
                    <span class="tag">Weight trainning</span>
                </div>
                <div class="time-info">
                    <span>วันจันทร์, 13 ม.ค. 2025, 17.00</span><span>จะเริ่มวันพรุ่งนี้</span>
                </div>
                <div class="card-info">
                    <div class="info">
                        <article>activity-card Topic</article>
                        <span class="location">King Mongkut’s institude of tecnology Ladkrabang</span>
                        <div class="user-avatar"><i class="fa-regular fa-user"></i><i class="fa-regular fa-user"></i><i class="fa-regular fa-user"></i></div>
                        <span class="participant-info">6/7 คนจะไป</span>
                    </div>
                    <img src="https://globaluniversity.edu/wp-content/uploads/2020/03/multiethnic-group-young-people-studying-together.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="activity-card">
            <div class="header-tag-card">Sport & Fitness</div>
            <div class="body-card">
                <div class="tag-line">
                    <span class="tag">Weight trainning</span>
                </div>
                <div class="time-info">
                    <span>วันจันทร์, 13 ม.ค. 2025, 17.00</span><span>จะเริ่มวันพรุ่งนี้</span>
                </div>
                <div class="card-info">
                    <div class="info">
                        <article>activity-card Topic</article>
                        <span class="location">King Mongkut’s institude of tecnology Ladkrabang</span>
                        <div class="user-avatar"><i class="fa-regular fa-user"></i><i class="fa-regular fa-user"></i><i class="fa-regular fa-user"></i></div>
                        <span class="participant-info">6/7 คนจะไป</span>
                    </div>
                    <img src="https://globaluniversity.edu/wp-content/uploads/2020/03/multiethnic-group-young-people-studying-together.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/home/dropdown.js" asp-append-version="true"></script>