<link rel="stylesheet" href="~/css/home/home.css" asp-append-version="true">
<div>
    <nav>
        <div class="left-container">
            <div class="search-bar">
                <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
                <input type="text" name="search" id="">
            </div>
            <div class="filter-container">
                <div class="date-input">
                    <i class="fa-regular fa-calendar"></i><button>1 jan 2025 - 5 jan 2025</button>
                </div>
                <div class="filter"><i class="fa-solid fa-sliders"></i><button> all</button></div>
            </div>
        </div>
        <div class="buttongroup-and-user">
            <button>
                <i class="fa-solid fa-plus"></i>
                สร้างกิจกรรม
            </button>
            <button>
                <i class="fa-regular fa-bell"></i>
                การเเจ้งเตือน
            </button>
            <img src="https://imgcdn.stablediffusionweb.com/2024/2/24/31aad3d9-a853-4296-88d7-58b3104a0527.jpg" alt="">
        </div>
    </nav>
    <div class="activity-card-container">
        <div class="activity-card">
        <div class="header-tag">Sport & Fitness</div>
            <h2>หาเพื่อนเล่นฟิตเนสที่สจลครับ</h2>
        </div>
    </div>
</div>