@model List<ActivityViewModel>

<link rel="stylesheet" href="~/css/home/home.css" asp-append-version="true">
<div>
    <nav>
        <div class="left-container">
            <div class="search-bar">
                <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
                <input type="text" name="search" id="search-word">
            </div>
        </div>
        <div class="buttongroup-and-user">
            @if (User.Identity != null && User.Identity.IsAuthenticated) {
                <a asp-controller="activity" asp-action="create">
                    <button class="create-activity">
                        <i class="fa-solid fa-plus"></i>
                        สร้างกิจกรรม
                    </button>
                </a>
                <a asp-controller="notification" asp-action="notification">
                    <button class="notification">
                        <i class="fa-regular fa-bell"></i>
                        การเเจ้งเตือน
                    </button>
                </a>
                
                <div class="dropdown">
                    @if (ViewData["avatarUrl"] == null) {
                        <button class="user-avatar-btn" onclick="drop()"><img src="~/user.png" alt="avatar-img" class="avatar-img"></button>
                    } else {
                        <button class="user-avatar-btn" onclick="drop()"><img src="@ViewData["avatarUrl"]" alt="avatar-img" class="avatar-img"></button>
                    }
                    <div id="myDropdown" class="dropdown-content">
                        <a asp-controller="profile" asp-action="index" as>โปรไฟล์</a>
                        <a asp-controller="account" asp-action="logout">ออกจากระบบ</a>
                    </div>
                </div>
            } else {
                <a asp-controller="account" asp-action="login"><button class="un-auth-btn login"><div>Login</div></button></a>
                <a asp-controller="account" asp-action="register"><button class="un-auth-btn register"><div>Register</div></button></a>
            }
        </div>
    </nav>
    <div class="filter-container">
        <div class="date-input">
            <i class="fa-regular fa-calendar"></i><button onclick="openPopupDate()" id="date-filter">all</button>
        </div>
        <div class="filter"><i class="fa-solid fa-sliders"></i><button id="tag-filter" onclick="openPopupTag()"> all</button><div id="tag-filter-list"></div></div>
    </div>
    <div class="activity-card-container"></div>
</div>

<div class="popup-overlay" id="popupOverlayDate" onclick="openPopupDate(event)">
    <div class="popup" onclick="event.stopPropagation()">
        <h3>เลือกช่วงเวลาของกิจกรรมที่จะค้นหา</h3>
        <div class="date-input-container">
            <div><h4>เริ่มต้น</h4><input type="date" id="start-date"></div>
            <div>-></div>
            <div><h4>สิ้นสุด</h4><input type="date" id="end-date"></div>
        </div>
        <button class="close-btn" onclick="closePopupDate()">เลือก</button>
    </div>
</div>

<div class="popup-overlay" id="popupOverlayTag" onclick="openPopupTag(event)">
    <div class="popup" onclick="event.stopPropagation()">
        <h3>เลือกหมวดหมู่ที่จะกรอง</h3>
            <div class="select-container">
                <section class="sport-and-fitness" data-category="Exercise & Sports">
                    <h4>Exercise & Sports</h4>
                    <div class="select-group">
                        <label class="checkbox-label">
                            <input type="checkbox" name="Football" class="filter-checkbox" id="Football" />
                            <span>Football</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="Basketball" class="filter-checkbox" id="Basketball" />
                            <span>Basketball</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="Badminton" class="filter-checkbox" id="Badminton" />
                            <span>Badminton</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="Table tennis" class="filter-checkbox" id="Table-tennis" />
                            <span>Table tennis</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="Running" class="filter-checkbox" id="Running" />
                            <span>Running</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="Swimming" class="filter-checkbox" id="Swimming" />
                            <span>Swimming</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="Cardio" class="filter-checkbox" id="Cardio" />
                            <span>Cardio</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="Weight training" class="filter-checkbox" id="Weight-training" />
                            <span>Weight training</span>
                        </label>
                    </div>
                </section>
                <section class="sport-and-fitness" data-category="Arts & Culture">
                    <h4>Arts & Culture</h4>
                    <div class="select-group">
                        <label class="checkbox-label">
                            <input type="checkbox" name="Sing" class="filter-checkbox" id="Sing" />
                            <span>Sing</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="Dance" class="filter-checkbox" id="Dance" />
                            <span>Dance</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="Painting" class="filter-checkbox" id="Painting" />
                            <span>Painting</span>
                        </label>
                    </div>
                </section>
                <section class="sport-and-fitness" data-category="Social">
                    <h4>Social</h4>
                    <div class="select-group">
                        <label class="checkbox-label">
                            <input type="checkbox" name="Gaming" class="filter-checkbox" id="Gaming" />
                            <span>Gaming</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="Board Games" class="filter-checkbox" id="Board-Games" />
                            <span>Board Games</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="Food & Dining" class="filter-checkbox" id="Food-Dining" />
                            <span>Food & Dining</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="Travel" class="filter-checkbox" id="Travel" />
                            <span>Travel</span>
                        </label>
                    </div>
                </section>
                <section class="sport-and-fitness" data-category="Education">
                    <h4>Education</h4>
                    <div class="select-group">
                        <label class="checkbox-label">
                            <input type="checkbox" name="Tutoring" class="filter-checkbox" id="Tutoring" />
                            <span>Tutoring</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="Lab" class="filter-checkbox" id="Lab" />
                            <span>Lab</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="Hackathon" class="filter-checkbox" id="Hackathon" />
                            <span>Hackathon</span>
                        </label>
                    </div>
                </section>
            </div>
        <button class="close-btn" onclick="closePopupTag()">ตกลง</button>
    </div>
</div>



<script src="~/js/home/dropdown.js" asp-append-version="true"></script>
<script src="~/js/home/home.js" asp-append-version="true"></script>