.screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background-color: white;
    width: 25%;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.input-container {
    width: 95%;
    margin-top: 30px;
}

form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 2.3em;
    font-weight: 500;
}

input {
    font-size: 20px;
    height: 30px;
    width: 100%;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    padding: 5px;
    margin-top: 4px;
}
::placeholder {
    color: #929292;
    font-size: 16px;
    font-weight: 300;
}
label {
    font-size: 16px;
    font-weight: 400;
    color: #313131;
}
.option {
    margin-top: 30px;
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}
.remember-me {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 8px;
}

a {
    color: #2b4faa;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(43, 79, 170, 0.5);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: bottom left;
}
a:hover::after {
    transform: scaleX(1);
}

button[type="submit"] {
    width: 95%;
    height: 40px;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 12px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
}
button[type="submit"]:hover {
    background-color: #3f36c7;
}
p {
    margin-top: 30px;
}
.checkbox-wrapper-32 {
    --size: 20px;
    --border-size: 2px;

    position: relative;
}

.checkbox-wrapper-32 *,
.checkbox-wrapper-32 *::after,
.checkbox-wrapper-32 *::before {
    box-sizing: border-box;
}

.checkbox-wrapper-32 input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
}

.checkbox-wrapper-32 input[type="checkbox"],
.checkbox-wrapper-32 label::before {
    width: var(--size);
    height: var(--size);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.checkbox-wrapper-32 label {
    display: inline-block;
    position: relative;
    padding: 0 0 0 calc(var(--size) + 7px);
}

.checkbox-wrapper-32 label::before {
    content: "";
    border: var(--border-size) solid #000;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.checkbox-wrapper-32 input[type="checkbox"]:checked + label::before {
    opacity: 1;
}

.checkbox-wrapper-32 svg {
    position: absolute;
    top: calc(50% + var(--border-size));
    left: var(--border-size);
    width: calc(var(--size) - (var(--border-size) * 2));
    height: calc(var(--size) - (var(--border-size) * 2));
    margin-top: calc(var(--size) / -2);
    pointer-events: none;
}

.checkbox-wrapper-32 svg path {
    stroke-width: 0;
    fill: none;
    transition: stroke-dashoffset 0.2s ease-in 0s;
}

.checkbox-wrapper-32 svg path + path {
    transition: stroke-dashoffset 0.2s ease-out 0.2s;
}

.checkbox-wrapper-32 input[type="checkbox"]:checked ~ svg path {
    stroke-dashoffset: 0;
    stroke-width: calc(var(--size) / 2);
}

@media screen and (max-width: 820px) {
    .login-container {
        width: 50%;
    }
}
