nav {
    background-color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 0.25px solid black; 
    padding: 16px;
}

.logo {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 16px;

    span {
        font-size: 24px;
        font-weight: bold;
    }
}

.buttongroup-and-user {
    display: flex; 
    align-items: center; 
    gap: 16px;

    button:nth-child(1) {
        padding: 8px 18px; 
        font-size: 16px;
        border-radius: 12px;
        border: 1px solid #E232BC;
        background-color: #E232BC;
        color: white;
        cursor: pointer;

        i {
            margin-right: 5px;
        }
    }

    button:nth-child(2) {
        padding: 8px 18px; 
        font-size: 16px;
        border-radius: 12px;
        border: 1px solid #FF713E;
        background-color: #FF713E;
        color: white;
        cursor: pointer;

        i {
            margin-right: 5px;
        }
    }
    
}

main {
    max-width: 1366px;
    margin: 0 auto;
}

.content {

}

.activity-img {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    img {
        width: 1366px;
        height: 540px;
        border-radius: 16px;
    }
}


.activity-details {
}

.owner {

}

.participant {

}
